<!DOCTYPE mapper PUBLIC "-//com.ironmam.www.spring.service.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.www.spring.service.dao.ArticleDAO">
 
    <select id="getArticleLocationByArticleId" parameterType="long" resultType="String">
        SELECT articleLocation from article where articleId=#{articleId}
    </select>

    <select id="getArticlesByUserId" parameterType="long" resultType="Article">
        SELECT * from article
        <where>
            <if test="_parameter > 0">
                articleUserId=#{"_parameter}
            </if>
        </where>
    </select>

    <insert id="saveArticle" parameterType="Article">
        INSERT INTO article(articleTitle, articleLocation, articleUserId, createDate, updateDate) values(#{articleTitle}, #{articleLocation}, #{articleUserId}, #{createDate}, #{updateDate})
    </insert>

    <delete id="deleteByArticleId" parameterType="long">
        DELETE FROM article WHERE articleId=#{articleId}
    </delete>

</mapper>