<!DOCTYPE mapper PUBLIC "-//com.ironmam.www.spring.service.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.www.spring.service.dao.CommentDAO">
 
    <insert id="saveComment" parameterType="Comment">
        INSERT INTO comment VALUES(#{articleId}, #{commentUserId}, #{commentDetail}, #{commentOverall}, #{createDate}, #{updateDate})
    </insert>

</mapper>